body{
    margin: 0;
    padding: 0;
    font-family: "poppings",;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
    /* max-width:65px; */
}
.flex{
    display: flex;
    align-items: center;
}
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.2);
    background: white;
    position: static;
    top: 0;
    z-index: 10;
}
.nav-right img{
    width:25px;
    margin-right: 25px;
    justify-content: space-around;
}
.user-icon{
    width: 165px;
    border-radius: 70%;
}
.nav-left .menu-icon{
    width: 50px;
    margin-right:25px ;
}
.nav-left .logo-icon{
    width: 90px;
}
.search-box{
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 10px;
}
.nav-mid .mic{
    width: 20px;
}
.nav-mid input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;

} 